{#
/**
 * @file
 * Template for the main page.
 */
#}
<body class="layers-site">
<header class="main-header">
	{% block branding %}
		{% if page.navbar_branding %}
			{{ page.navbar_branding }}
		{% endif %}
	{% endblock %}

	{% block left %}
		{% if page.navbar_left %}
			<div class="mr-auto">
				{{ page.navbar_left }}
			</div>
		{% endif %}
	{% endblock %}

	{% block right %}
		{% if page.navbar_right %}
			{{ page.navbar_right }}
		{% endif %}
	{% endblock %}
</header>
<div class="page">
	<main class="pb-5">
		{% if page.header %}
			<header class="page__header mb-3">
				<div class="container">
					{{ page.header }}
				</div>
			</header>
		{% endif %}

		{% if page.content %}
			{{ page.content }}
		{% endif %}
	</main>

	{% if page.footer %}
		<footer class="page__footer">
			<div class="container">
				<div class="d-flex justify-content-md-between">
					{{ page.footer }}
				</div>
			</div>
		</footer>
	{% endif %}
</div>
</body>
