<div class="card">
	<div class="card-header" id="heading-{{ paragraph.field_title.value|replace({'á':'a','é':'e','í':'i','ó':'o','ú':'u',' ':'-'})|lower }}" data-toggle="collapse" data-target="#{{ paragraph.field_title.value|replace({'á':'a','é':'e','í':'i','ó':'o','ú':'u',' ':'-'})|lower }}" aria-expanded="true" aria-controls="{{ paragraph.field_title.value|replace({'á':'a','é':'e','í':'i','ó':'o','ú':'u',' ':'-'})|lower }}">
		<p>{{ paragraph.field_title.value}}</p>
	</div>
</div>
<div id="{{ paragraph.field_title.value|replace({'á':'a','é':'e','í':'i','ó':'o','ú':'u',' ':'-'})|lower }}" class="collapse {{ loop.first ? 'show'}}" aria-labelledby="heading-{{ paragraph.field_title.value|replace({'á':'a','é':'e','í':'i','ó':'o','ú':'u',' ':'-'})|lower }}" data-parent="#accordion">
	<div class="card-body">
		{{content.field_blocks }}
	</div>
</div>
