{% set items = simplify_menu('main') %}
{% set default_level = 1 %}
<nav class="main-menu">
  <div class="main-brand">
    <a class="navbar-brand" href="/">
      <picture>
        <img class="logo" data-src="/themes/custom/abogados/assets/img/logos/logo.png"
             src="/themes/custom/abogados/assets/img/logos/logo.png"
             alt="Rodriguez Abogados2">
      </picture>
    </a>
    <div class="menu-btn">
      <div class="menu-btn__burger"></div>
    </div>
  </div>
  <div class="content-menu">
    <nav>
      <ul class="menu-main level-{{ default_level }}">
        {% for item in items.menu_tree %}
          {% set active = (item.active) ? ' is-active' : '' %}
          {% set active_tr = active ~ ((item.active_trail) ? ' is-active-trail' : '') %}
          <li
            class="item-navegation {{ active }} {{ item.submenu ? 'item-dropdown' }} {{ active_tr }}">
            <a class="link-item" href="{{ item.url }}">{{ item.text }}</a>
            {% if item.submenu %}
              <span class="z-activa-fl"></span>
              {% set default_level = default_level+1 %}
              <ul class="menu-level-{{ default_level }}">
                {% include "@abogados/nav/inner-menu.html.twig" with {"items":item.submenu} %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</nav>