{% set items = simplify_menu('social-network') %}

<nav class="main-menu">
	<div class="content-menu">
		<ul class="menu-main level">
			{% for item in items.menu_tree %}
				<li class="item-navegation ">
					<a class="link-item" href="{{ item.url }}">{{ item.text }}</a>
					<div class="icon-social">{{content.field_social_network}}</div>
					<div class="icon-social-2">{{item.entity.field_social_network}}</div>
					<div>{{item.content.entity.field_social_network.value}}</div>
					<div>{{item.entity.contenty.field_social_network.value}}</div>
					<div>{{item.content.entity.field_social_network}}</div>
					<div>{{item.entity.contenty.field_social_network}}</div>
					<div>{{item.field_social_network.value}}</div>
					<div>{{item.field_social_network.value}}</div>
					<div>{{item.entity.field_social_network.value}}</div>
					<div>{{item.entity.field_social_network}}</div>
					<div>{{item.content.field_social_network.value}}</div>
					<div>{{item.content.field_social_network}}</div>
					<div>{{item.content}}</div>
					<div>{{item.content.value}}</div>
					<div>{{item.red}}</div>


				</li>
			{% endfor %}
		</ul>
	</div>
</nav>
